
@{
    ViewBag.Title = "About";
}

<div class="row container-fluid about-container ">
    <div class="col-sm-7 ">

        <h1 class="display-6 fw-bold">Empowering the world to develop technology through collective knowledge.</h1>
        <h4>
            Our public platform serves 100 million people every month, making it one of the most popular websites in the world.

            Our asynchronous knowledge management and collaboration offering, Stack Overflow for Teams, is transforming how people work.
        </h4>
    </div>


</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>
